.itemLessThan10 {
    // background-color: #ececec;
    // color: #000;
    background-color: #27c140;
    color: #ffffff;
    padding: 7px 13px !important;
    border-radius: 2px;
    margin-left: 4px;
    font-size: 13px;
}

.itemGreatThan10 {
    //border: 0.1px solid #1b2f45;
    background-color: #ffbf00;
    padding: 7px 9px !important;
    border-radius: 2px;
    margin-left: 4px;
    font-size: 13px;
}

.item {
    cursor: pointer;
}

.item:hover {
    color: #ffffff;
    background-color: #1b2f45;
    border-radius: 2px;
}


.enter-row {
    margin-bottom: 11px;
}