.totalItemsLessThan10 {
    background-color: #ececec;
    padding: 6px 12px !important;
}

.item {
    //border: 0.1px solid #1b2f45;
    background-color: #ececec;
    padding: 6px 8px;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 13px;
}
.enter-row {
    margin-bottom: 11px;
}