.main-dim{
    opacity: 0.3;
}
.test-main{
    //padding: 0.05% 0.7% 0.7% 0.7%;
    //width: 100vw;
    //height: 100vh;
    //display: inline-block;
    //justify-content: center;
    //align-items: center;
    //background-color: #000000; // Optional: for visual clarity
}
.row {
    --bs-gutter-x: 0 !important;
}
.header-test{
    padding: 0.75%;
    background-color: #1b2f45;
    border-radius: 2px;
}


//////////////////Custom radio button///////////////////////
/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Style the custom radio button */
.custom-radio {
    display: flex;
    width: 50%;
    align-items: center;
    cursor: pointer;
    // font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.custom-radio-button {
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

/* Checked state */
input[type="radio"]:checked + .custom-radio-button {
    background-color: black;
    border-color: #000;
}

input[type="radio"]:checked + .custom-radio-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}
.justify-content-center div {
    height: 100px !important;
}

.disabled{
    opacity: 0.5;
}  


///////////////////////////////////////////////////////////////////////////////////////////////////////
.test-table {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .table td, .table th {
    vertical-align: middle;
    text-align: center;
  }
  .start-btn {
    background-color: #d4af37;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .start-btn:hover {
    background-color: #1b2f45;
  }

  /////////////
  .custom-scroll-bar{
    height: 100%;
    overflow-y: auto;
  }

  /////////////////left of begin part 1
  /// 
  .listening-container-exam {
    border: 1px solid #000;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  audio {
    height: 60% !important;
  }
  ////////////rgiht
  .container-exam {
    padding: 10px;
    border: 1px solid #000;
  }
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }


  /////////////////////////////////////////////////////////config loading spiner
  .audio-class{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
    z-index: 10;
  }